{{#if products}}
<div class="card">
    <div class="card-header text-center">
        <h3 class="text-success">
            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            Cart List
            <span class="badge badge-pill badge-danger">{{session.cart.totalQty}}</span>
        </h3>
    </div>
    <div class="card-body">
        {{!--
        <button type="button" class="btn">hehe</button> --}} 
        {{#each products}}
            <b> {{this.item.menuItem}}</b>
            <div>
                Quantity: <b> {{ this.qty }} </b>
            </div>
            <div>
                Price: {{this.price}}
            </div>
        {{/each}}
    </div>
    <div class="card-footer">
        <b>Total Cost :- {{ totalPrice}}</b>
    </div>
</div>
{{else}}
<h1> Cart Item Is Empty</h1>
{{/if}}